Animations {
	flex-wrap: wrap;
	height: 100%;
	justify-content: flex-start;
	align-items: flex-start;
}

.image
{
	width: 256px;
	height: 256px;
	margin: 10px;
	font-weight: bolder;
	font-size: 14px;
	padding: 10px;
	color: white;
	transition: all 1s ease;

	&:hover
	{
		width: 300px;
		height: 400px;
	}
}

.newline {
	flex: auto;
	width: 100%;
}

.ping {
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50px;
	animation-name: livePulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-delay: .5s;
	margin: 50px;
}

@keyframes Rainbow {
	0% {
		background: #ff0000;
	}

	16% {
		background: #ff7f00;
	}

	33% {
		background: #ffff00;
	}

	50% {
		background: #00ff00;
	}

	66% {
		background: #0000ff;
	}

	83% {
		background: #4b0082;
	}

	100% {
		background: #8f00ff;
	}
}

@keyframes livePulse {
	0% {
		box-shadow: 0 0 0 0 rgba(red, 0.5);
		border-color: rgba(red,0.5);
	}

	70% {
		box-shadow: 0 0 0 30px rgba(red, 0);
		border-color: rgba(red,0.3);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(red, 0);
	}
}