@namespace Sandbox.UI.Tests.Styles
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
	
	<main>
		@* https://files.facepunch.com/alexguthrie/1b1311b1/chrome_jNwnmQenkG.png *@
		
		<div class="a">
			Lighten
		</div>
		<div class="b">
			Multiply
		</div>
	</main>

</root>
