@namespace Sandbox.UI.Tests.Styles
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>
	
	<div class="drop-shadow">
	</div>

	<div class="drop-shadow-multiple">
	</div>

	<div class="glow">
	</div>

	<div class="drop-shadow mask">
	</div>

	<div class="drop-shadow mask blur">
	</div>

	<div class="drop-shadow blur">
	</div>

	<div class="multiple-filters">
	</div>

	<div class="border">
	</div>

	<div class="border border-big">
	</div>

	<div class="border no-bg">
		<label>HELLO 🖖</label>
	</div>

</root>
