
@namespace Sandbox.UI.Tests.Styles
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root>

    <div class="row short">
        This row has nothing special
    </div>

    <div class="row short" style="white-space: nowrap; overflow: hidden;">
        This row has overflow: hidden and white-space: nowrap
    </div>

    <div class="row short" style="white-space: nowrap; text-overflow: ellipsis;">
        Nowrap and overflow set to `ellipsis`
    </div>

    <div class="row short" style="white-space: nowrap; text-overflow: clip;">
        Nowrap and overflow set to `clip`
    </div>

    <div class="row long" style="height: 70px; text-overflow: ellipsis;">
        This is a tall one 🥳, it should have 
an ellipsis at the end of the second line but not the first
    </div>

    <div class="row short" style="max-height: 44px; white-space: nowrap; text-overflow: ellipsis;">
        This one has two lines but the 2nd is out of sight
an ellipsis at the end of the first line but definitely not on the second line
    </div>

    <div class="row long" style="letter-spacing: 3px; white-space: nowrap; text-overflow: ellipsis;">
        This is a long one with letter-spacing applied to it
    </div>

    <div class="row short" style="white-space: nowrap;">
        This one has no text-overflow, just a nowrap
    </div>

    <div class="row short" style="white-space: nowrap; overflow: hidden;">
        This one has no text-overflow, just a nowrap and overflow: hidden
    </div>

    <div class="row big-box" style="word-break: break-all; text-overflow: ellipsis;">
        This box has break-all with ellipsis overflow

Lorem ipsum dolor sit amet, consectetur a😀dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas ultricies mi eget mauris p😢haretra et. Turpis nunc eget lorem dolor sed viverra ipsum. Nullam ac to👻rtor vitae purus faucibus ornare. Fusce id velit ut tortor. Sed faucibus turpis in eu mi bibendum. Convallis tellus id interdum velit laoreet id donec ultrices. Id leo in vitae turpis. Sed libero enim sed faucibus turpis in. Etiam sit amet nisl purus in mollis nunc sed. Nisi lacus sed viverra tellus in hac habitasse. Sed elementum tempus egestas sed. Viverra adipiscing at in tellus integer feugiat.
    </div>

    <div class="row short" style="max-height: 44px;">
        <label style="text-overflow: ellipsis">Text that shoulllld clip early</label>
        <label style="flex-shrink: 0;">Sibling</label>
    </div>

</root>
