
@namespace Sandbox.UI.Tests.Transforms
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root class="root">


	<div class="panel transformed">
		<div class="child"></div>
		<div class="child"></div>
		<div class="child"></div>
		<div class="child"></div>
	</div>

	<div class="panel rotated">
		<div class="child"></div>
		<div class="child"></div>
		<div class="child"></div>
		<div class="child"></div>
	</div>

	<div class="megatest">
		<TextEntry placeholder="Crazy Text Entry"></TextEntry> 
	</div>

</root>
