
@namespace Sandbox.UI.Tests.Transforms
@inherits Sandbox.UI.Panel
@attribute [StyleSheet]

<root class="root">


    <div class="example_panel rotation">
        <text>2D Roll</text>
    </div>

    <div class="example_panel scale">
        <text>2D Scale</text>
    </div>

    <div class="example_panel skew">
        <text>Skew</text>
    </div>

    <div class="example_panel rotatex">
        <text>RotateX</text>
    </div>

    <div class="example_panel rotatey">
        <text>RotateY</text>
    </div>

    <div class="example_panel rotatez">
        <text>RotateZ</text>
    </div>

    <div class="example_panel translatez">
        <text>Translate Z</text>
    </div>


    <div class="example_panel matrix3d">
        <text>Matrix3d</text>
    </div>


</root>
