$blue-dull: #49759c;

#body > Background {
	background-color: #090B0F;
}

.image {
	width: 100px;
	height: 100px;
	margin: 10px;
	font-weight: bolder;
	font-size: 10px;
	padding: 10px;
	color: white;
	transition: all 2s ease;

	&:hover {
		width: 200px;
		height: 300px;
	}

	&.variable-gradient {
		background: linear-gradient(#1A1D1D, rgba($blue-dull,0));
	}
}
