

.root
{
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-family: Poppins;
	font-weight: bold;
}

.example_panel
{
	width: 800px;
	height: 800px;
	border-radius: 8000px;
}
